@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-primary: #005bff;
  --color-primary-light: #1a8cff;
  --color-primary-dark: #0030c5;

  --color-accent: #ff8a00;
  --color-accent-light: #ff9d00;

  /* Backgrounds */
  --color-bg: #f8f8f8;
  --color-surface: #ffffff;

  /* Text */
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  /* Borders */
  --color-border: #e5e7eb;

  /* Status */
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}

.triangle-loader {
  position: relative;
  width: 90px;
  height: 80px;
}

.dot {
  position: absolute;

  width: 18px;
  height: 18px;

  border-radius: 999px;

  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.55, 0.05, 0.4, 0.95);
  animation-iteration-count: infinite;

  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

/* Top */

.dot-1 {
  left: 50%;
  top: 0;

  margin-left: -9px;

  animation-name: moveTop;
  background-image: radial-gradient(
    circle at 30% 30%,
    rgba(255,255,255,.45),
    transparent 55%
);

filter: drop-shadow(0 8px 20px rgba(59,130,246,.25));
}

/* Bottom Left */

.dot-2 {
  left: 12px;
  bottom: 0;

  animation-name: moveLeft;
  background-image: radial-gradient(
    circle at 30% 30%,
    rgba(255,255,255,.45),
    transparent 55%
);

filter: drop-shadow(0 8px 20px rgba(59,130,246,.25));
}

/* Bottom Right */

.dot-3 {
  right: 12px;
  bottom: 0;

  animation-name: moveRight;
  background-image: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.45),
    transparent 55%
  );

  filter: drop-shadow(0 8px 20px rgba(59, 130, 246, 0.25));
}

/* ----------------------- */

@keyframes moveTop {
  0% {
    transform: translate(0, 0) scale(1);
  }

  33% {
    transform: translate(-24px, 42px) scale(0.88);
  }

  66% {
    transform: translate(24px, 42px) scale(0.88);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes moveLeft {
  0% {
    transform: translate(0, 0) scale(0.88);
  }

  33% {
    transform: translate(48px, 0) scale(0.88);
  }

  66% {
    transform: translate(24px, -42px) scale(1);
  }

  100% {
    transform: translate(0, 0) scale(0.88);
  }
}

@keyframes moveRight {
  0% {
    transform: translate(0, 0) scale(0.88);
  }

  33% {
    transform: translate(-24px, -42px) scale(1);
  }

  66% {
    transform: translate(-48px, 0) scale(0.88);
  }

  100% {
    transform: translate(0, 0) scale(0.88);
  }
}

.grid-pattern {
  opacity: 0.06;

  background-image:
    linear-gradient(to right, #cbd5e1 1px, transparent 1px),
    linear-gradient(to bottom, #cbd5e1 1px, transparent 1px);

  background-size: 40px 40px;

  -webkit-mask-image: radial-gradient(
    circle at center,
    black 35%,
    transparent 90%
  );
  mask-image: radial-gradient(circle at center, black 35%, transparent 90%);
}
